# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Vector Database / Embeddings
vectorstore/
faiss_index/

# Logs
*.log

# Temporary Files
temp/
tmp/

# HuggingFace Cache
.cache/
huggingface/

# Streamlit
.streamlit/secrets.toml

# Build Files
build/
dist/
*.egg-info/

# SQLite DB
*.db

# PDF uploads (optional)
uploads/

# LangChain tracing
.langsmith/
